body {
  background-color: #f0f0f0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .blog-title,
.header .logo {
  color: #9ac389;
  font-size: 3rem;
  text-decoration: none;
  margin-right: 1.5rem;
}
.header .menu {
  margin: 0;
  padding: 0;
}
.header .menu .menu-item {
  display: inline-block;
  margin-right: 0.75rem;
}
.header .menu .menu-item .menu-item-link {
  color: #bbb;
  text-decoration: none;
}
.header .menu .menu-item .menu-item-link:hover {
  color: #000;
}
.post {
  margin: 0 auto 1rem;
  padding: 1.2rem 2.3rem;
  background-color: #fff;
  border: 1px solid #ddd;
}
.post .post-title {
  font-size: 1.5rem;
}
.post .post-title .title {
  margin: 1.5rem 0 0 0;
}
.post .post-title .post-title-link {
  color: #9ac389;
  text-decoration: none;
}
.post .post-content {
  font-size: 1.2rem;
}
.post .post-content a {
  color: #bbb;
}
.post .post-content a:hover {
  color: #000;
}
.post .post-meta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #bbb;
  font-size: 1rem;
}
.post .post-meta ul {
  padding: 0;
  margin: 0;
}
.post .post-meta a {
  color: #bbb;
  text-decoration: none;
}
.post .post-meta .post-tags .tag-list {
  display: flex;
}
.post .post-meta .post-tags .tag-list .tag-list-item {
  margin-left: 0.7rem;
  list-style: none;
}
.archive {
  padding: 1.2rem 2.3rem;
  background-color: #fff;
  border: 1px solid #ddd;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bbb;
}
.archive .post-archive .post-item .post-title {
  color: #bbb;
  text-decoration: none;
}
.archive .post-archive .post-item .post-title:hover {
  color: #000;
}
.page-nav {
  padding: 0.5rem 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
}
.page-nav .prev,
.page-nav .next,
.page-nav .page-number {
  padding: 0.1rem 0.5rem;
}
.page-nav .prev {
  float: left;
}
.page-nav .next {
  float: right;
}
.page-nav a {
  color: #bbb;
  text-decoration: none;
}
.page-nav a:hover {
  color: #000;
}
.tagcloud {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1.2rem 2.3rem;
}
.tagcloud a {
  text-decoration: none;
}
.tagcloud a:hover {
  text-decoration: underline;
}
.tagTitle {
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  color: #9ac389;
}
.categories {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1.2rem 2.3rem;
}
.categories .category-list {
  margin: 0;
  padding: 0;
}
.categories .category-list-item {
  color: #bbb;
}
.categories .category-list-item a {
  text-decoration: none;
  color: #bbb;
}
.categories .category-list-item a:hover {
  color: #000;
}
.categories .category-list-item span {
  float: right;
}
.categories .category-list-item span::before {
  content: "(";
}
.categories .category-list-item span::after {
  content: ")";
}
.categoryTitle {
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
  color: #9ac389;
}
.paper-style {
  position: relative;
}
.paper-style:before,
.paper-style:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.paper-style:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
