body {
  background-color: #f0f0f0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header .blog-title,
.header .logo {
  color: #9ac389;
  font-size: 3rem;
  text-decoration: none;
}
.header .menu {
  margin: 0;
  padding: 0;
}
.header .menu .menu-item {
  display: inline-block;
  margin-right: 0.75rem;
}
.header .menu .menu-item .menu-item-link {
  color: #bbb;
  text-decoration: none;
}
.header .menu .menu-item .menu-item-link:hover {
  color: #000;
}
.post {
  margin: 1rem auto;
  padding: 1.2rem 2.3rem;
  background-color: #fff;
  border: 1px solid c-bordergray;
  box-shadow: 0 0 2px #ddd;
}
.post .post:first-child,
.posts .post:first-child {
  margin-top: 0;
}
.post .post-title,
.posts .post-title {
  font-size: 1.5rem;
}
.post .post-title .post-title-link,
.posts .post-title .post-title-link {
  color: #9ac389;
  text-decoration: none;
}
.post .post-content,
.posts .post-content {
  font-size: 1.2rem;
}
.post .post-content a,
.posts .post-content a {
  color: #bbb;
}
.post .post-content a:hover,
.posts .post-content a:hover {
  color: #000;
}
.post .post-meta,
.posts .post-meta {
  color: #bbb;
}
.post .post-meta .post-time,
.posts .post-meta .post-time {
  font-size: 1rem;
}
.archive {
  padding: 1.2rem 2.3rem;
  background-color: #fff;
  border: 1px solid #ddd;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bbb;
}
.archive .post-archive .post-item .post-title {
  color: #bbb;
  text-decoration: none;
}
.page-nav {
  padding: 0.5rem 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
}
.page-nav .prev,
.page-nav .next,
.page-nav .page-number {
  padding: 0.1rem 0.5rem;
}
.page-nav .prev {
  float: left;
}
.page-nav .next {
  float: right;
}
.page-nav a {
  color: #bbb;
  text-decoration: none;
}
.page-nav a:hover {
  color: #000;
}
